.c-live-search-box {
    position: relative;
    z-index: 100;
}

.c-live-search-box .search-results {
    position: absolute;
    width: 100%;
}

.search-results:hover {
    cursor: pointer;
}

.list-group-item:hover{
    background-color: #f8d7da;
}

.c-live-search-box .img-in-input {
    position: absolute;
    display: block;
    left: 0px;
    top: 10px;
    z-index: 101; 
} 

.search-img {
    margin-left: 20px;
}

.search-book-design {
    width: 100%; 
    border-radius: 30px;
    background-color: #f8d7da;
}

@media screen and (min-width: 900px) {
    .search-book-design {
        width: 500px;
    }
}