
.input-rounded-corners {
    /* display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: .25rem; 
    transition: border-color .15s; */
    border-radius: 30px;
}

 .button-rounded-corners {
 /*   width: 100%;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 30px;
    transition: color .15s;
    color: white; */
    width: 100%;
    border-radius: 30px;
}

.search-book-design {
    margin-right: 20px;
    width: 100%; 
    border-radius: 30px;
}

.brand-design {
    margin-right: 200px;
}

.login-design {
    margin-left: 200px;
}

