
.input-rounded-corners {
    border-radius: 30px;
}

 .button-rounded-corners {
    width: 100%;
    border-radius: 30px;
}

.brand-design {
    margin-right: 20px;
}

.login-design {
    margin-left: 20px;
}

.nav-drop-down:hover{
    background-color: #f8d7da;
}

