.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:  #faf0f1;
}

.logo-design {
  font-family: 'Guttman Yad-Brush';
}

.jumbotron {
  padding: 5rem 1rem;
  margin-bottom: 2rem;
  background-color: #f8d7da;
  border-radius: .3rem;
  position: relative;
  overflow: hidden;
  /* background-image: url("https://openscholar.huji.ac.il/sites/default/files/styles/os_files_xxlarge/public/library/files/spryh_dp_rshy.png?m=1538923396&itok=1LUWiD7D");  */
}

.jumbotron h1 {
  position: relative;
  z-index: 2;
}

.jumbotron p {
  position: relative;
  z-index: 2;
}

.jumbotron::after {
  content: "";
  background: url("./icons/books.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  position: absolute;
  z-index: 1;   

}

.card-design {
  margin-right: 30px;
  padding-bottom: 10px;
}

.hover-design:hover {
  color: #e94c59;
  cursor: pointer;
}

.name-of-book-design{
  color: #e94c59;
}

.image-border {
  width: 18rem;
  height: 27rem;
  border: 1px solid #e94c59;
  border-radius: 30px;
  margin-right: 100px;
}

.image {
  margin-right: 100px;
}

.link-design {
  color: blue;
  text-decoration: underline;
}

.link-design:hover {
  color: #e94c59;
  cursor: pointer;
}

.list-grout-design {
  margin-right: 20px;
}

.text-align-end{
  text-align: end;
}
